body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    padding-right: 20px;
    }


a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
    text-underline-offset: 10px;

}

.open {
    font-weight: bold;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
    
}

.wrapper {
    display: flex;
    align-items: center;

}

img {
    width: 300px;
    margin: 30px;

}

p {
    margin: 30px;
}

footer > p {
    text-align: center;
}